<div class="col-25">
    <div class="container">
      <h4>Cart 
        <span class="price" style="color:black">
          <i class="fa fa-shopping-cart"></i> 
          <b>4</b>
        </span>
      </h4>
      <ul *ngFor="let item of cart">
        <li><p>{{item.description}} <span>{{item.quantity}}</span> <span class="price">{{item.price}}</span></p></li>
      </ul>
     
      <hr>
      <!-- Metodo para sumar el total -->
      <p>Total <span class="price" style="color:black"><b>$30</b></span></p>
    </div>
  </div>
 
