button{
    border: 1px solid black;
   /* border: none; */
   outline: 0;
   padding: 12px;
   color: white;
   background-color: #000;
   text-align: center;
   cursor: pointer;
   width: 10vw;
   font-size: 18px;
   border-radius: 3px;
}