<!-- Aqui va el formulario de creacion del nuevo item -->
<button type="text" (click)="showAdd()">Add</button>
<form [hidden]="hidden">
  Description:<br>
  <input type="text" [(ngModel)]="addDescription" name="addDescription">
 <!--  <p>{{addDescription}}</p> -->
  <br>
  Stock:<br>
  <input type="number" name="addStock" value="Stock">
  <br>
  Price:<br>
  <input type="number" name="addPrice" value="Price">
  <br>
  Image:<br>
  <input type="text" name="addImage">
  <br>
  <button class="btn" id="btnCreate" (click)="newItem(item)">Create</button>
  <button class="btn" (click)="noShowAdd()">Cancel</button>
</form> 
