<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome {{ title }}!
  </h1>
</div>
<ul *ngFor="let item of myItem">
  <li>
    <h2>{{item.type}}</h2>
    <p>{{item.name}}</p>
    <p>{{item.surname}}</p>
    <ng-container *ngIf="item.edad == 0; else elseTemplate">
      <p>No tiene edad</p>
    </ng-container>
    <ng-template #elseTemplate>
      <p>{{item.edad}}</p>
    </ng-template>
  </li>
</ul>

<router-outlet></router-outlet>
