<section style="text-align:center">
  <!-- <p>Hay {{ totalItem() }} en stock total</p> -->
  <!-- <p>Suma una unidad en stock de todos los articulos: {{items | total:'price'}}</p> -->
<button type="text">Add</button>
</section>
<ul *ngFor="let item of items">
  <li class="card">
    <button (click)="deleteItem(item)">X</button>
    <img [src]="item.image" alt="No encontrada">

    <p *ngIf="!item.editable" (click)="isEditable(item)">{{item.description}}</p>
    <input *ngIf="item.editable" (keydown.enter)="isNotEditable(item)" [(ngModel)]="item.description" (change)="updateItem(item)" class="description" type="text">

    <p class="price">{{item.price | currency:'EUR'}}</p>
    <button class="btn" [disabled]="item.quantity === 0" (click)="itemMenos(item)">-</button>
    <input type="number" [(ngModel)]="item.quantity" (change)="modelChanged(item)">
    <button class="btn" value="+" (click)="itemPlus(item)">+</button>
    <ng-container *ngIf="item.stock == 0; else elseTemplate">
      <p>Stock no disponible</p>
    </ng-container>
    <ng-template #elseTemplate>

      <p *ngIf="item.quantity !== null">Stock actual: {{item.stock}}</p>
      <p *ngIf="item.quantity === null">Stock actual: {{item.stockaux}}</p>
    </ng-template>
    <p><button>Add to Cart</button></p>
  </li>
</ul>
