<section style="text-align:center">
<p>Hay {{ totalItem() }} en stock total</p>
<p>Suma una unidad en stock de todos los articulos: {{items | total:'price'}}</p>
</section>
<ul *ngFor="let item of items">
  <li class="card">
    <img [src]="item.image" alt="No encontrada">
    <p>{{item.description}}</p>
    <p class="price">{{item.price | currency:'EUR'}}</p>
    <button class="btn" [disabled]="item.quantity === 0" (click)="itemMenos(item)">-</button>
    <input disabled type="number" [value]="item.quantity">
    <button class="btn" value="+" (click)="itemPlus(item)">+</button>
    <ng-container *ngIf="item.stock == 0; else elseTemplate">
      <p>Stock no disponible</p>
    </ng-container>
    <ng-template #elseTemplate>
      <p>Stock actual: {{item.stock}}</p>
    </ng-template>
    <p><button>Add to Cart</button></p>
  </li>
</ul>
