 ul {
   float: left;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   /* border: 1px solid blue; */
   width: 20vw;
   position: relative;
   left: 4vw;
 }
  //Siempre debajo, si no hereda y no se aplican los estilos
 @media screen and (max-width: 1366px) {
   ul {
   float: left;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   /* border: 1px solid blue; */
   width: 20vw;
   position: relative;
   left: 2vw;
 }
}

@media only screen and (max-device-width: 360px) and (max-height: 640px) {
   ul {
   float: left;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   /* border: 1px solid blue; */
   width: 20vw;
   position: relative;
   left: 2vw;
 }
}

 img{
  padding-left: 1em;
  position: relative;
  top: 1em;
  width: 4vw;
  height: 7vh;
}


 
